@font-face {
  font-family: ZombieNight;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/ZombieNight-Yzzzo.ttf') format('truetype');
}

@font-face {
  font-family: ZombieNight;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/ZombieNight-Yzzzo.ttf') format('truetype');
}

