.tiles {
  --tiles-height: 52vw;
  height: var(--tiles-height);
  position: relative;
  overflow: hidden;
}

.tiles--columns-rotated {
  --tiles-height: 180vmax;
}

.tiles--darker .tiles__line-img {
  opacity: 0.7;
}

.tiles__wrap {
  width: 150%;
  --tileswrap-height: var(--tiles-height);
  height: var(--tileswrap-height);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%, 0);
}

.tiles--rotated .tiles__wrap {
  --tileswrap-height: calc(var(--tiles-height) * 1.8);
  transform: translate3d(-50%,-50%, 0) rotate(22.5deg);
}

.tiles__line {
  display: flex;
}

.tiles__line-img {
  --tile-margin: 2vw;
  flex: none;
  width: calc(16.6666% - var(--tile-margin) * 2);
  height: calc( var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
  margin: var(--tile-margin);
  background-size: cover;
  background-position: 50% 50%;
}

